{% for project_key in test_dict %}
  {% if "repos" in project_key %}
    {% for repo in project_key['repos'] %}
      {% if "permissions" in repo %}
        {% for group in repo['permissions'] %}
          project_key: {{ project_key['project_key'] }}
          repo: {{ repo['name'] }}
          group: {{ group }}
          # {% new_dict.append({"project_key": project_key['project_key'], "repo": repo['name'], "group": group}) %}
        {% endfor %}
      {% endif %} 
    {% endfor %}
  {% endif %} 
{% endfor %}